.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background: transparent center url("../../../images/Close Icon.svg");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close {
      width: 20px;
      height: 20px;
      right: 0px;
      top: -36px;
  }
}